:root {
    --font-space: "Space Grotesk", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: all 0.25s ease-in-out;
    font-family: var(--font-space);
}

div#square {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 12px;
}

section {
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.groupDiv {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme {
    background-color: transparent;
    border: none;
}

.themeDiv {
    position: relative;
    bottom: 75%;
    left: 48%;
}

#color {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 12px;
}

h1 {
    font-size: 6em;
}